always-auth = true
@DyshliukRostyslav:registry=https://npm.pkg.github.com/
registry=https://npm.pkg.github.com/@DyshliukRostyslav
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org/