@dyshliukrostyslav:registry=https://npm.pkg.github.com/dyshliukrostyslav
//REGISTRY_URL/:_password=NPM_GITHUB_TOKEN
//REGISTRY_URL/:username=dyshliukrostyslav
//REGISTRY_URL/:email=slash.php@gmai.com
//REGISTRY_URL/:always-auth=true